// .CircularProgressbar-background {
// fill: rgb(128, 0, 28);
// }


.pbar1{
    border-radius: 60px;
    background-color: tomato;
    .CircularProgressbar {
            .CircularProgressbar-path {
                stroke: tomato;//dark color line
                }
                .CircularProgressbar-trail {
                stroke: black;//light color line
                
                }
                .CircularProgressbar-text {
                fill: green;//text color
                }
    }
}
.pbar2{
    border-radius: 60px;
    background-color: tomato;
    .CircularProgressbar {
            .CircularProgressbar-path {
                stroke: tomato;//dark color line
                }
                .CircularProgressbar-trail {
                stroke: black;//light color line
                
                }
                .CircularProgressbar-text {
                fill: green;//text color
                }
    }
}
.pbar3{
    border-radius: 60px;
    background-color: tomato;
    .CircularProgressbar {
            .CircularProgressbar-path {
                stroke: tomato;//dark color line
                }
                .CircularProgressbar-trail {
                stroke: black;//light color line
                
                }
                .CircularProgressbar-text {
                fill: green;//text color
                }
    }
}
.pbar4{
    border-radius: 60px;
    background-color: tomato;
    .CircularProgressbar {
            .CircularProgressbar-path {
                stroke: tomato;//dark color line
                }
                .CircularProgressbar-trail {
                stroke: black;//light color line
                
                }
                .CircularProgressbar-text {
                fill: green;//text color
                }
    }
}


    